trigger:
- main
- development

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.13.3'
    addToPath: true


- script: |
    pip install -r requirements.txt
  displayName: 'Install Dependencies'

- script: |
    pytest --cov=./ --cov-report=xml --cov-report=html --cov-fail-under=80
  displayName: 'Run Tests'

- task: PublishCodeCoverageResults@2
  displayName: 'Publish Code Coverage Reports'
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

- script: |
    pylint src --output-format=text >> pylint_report.txt && cat pylint_report.txt
  displayName: 'Run Code Analysis Report'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)/pylint_report.txt
    artifactName: CodeAnalysisReport
  displayName: 'Publish Code Analysis Report'

- script: |
    python -m compileall .
  displayName: 'Build Python App'

- task: CopyFiles@2
  inputs:
    contents: '**/*.py'
    targetFolder: '$(build.artifactStagingDirectory)'


- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'