trigger:
- main
- Dev


pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: 'Build'
  jobs:
  - job: Build
    displayName: 'Build'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.13.3'
        addToPath: true

    - script: |
        pip install -r requirements.txt
      displayName: 'Install Dependencies'

    - script: |
        pytest tests/unit_tests --cov=./src --cov-report=xml --cov-report=html --cov-fail-under=80
      displayName: 'Run Tests'

    - task: PublishCodeCoverageResults@2
      displayName: 'Publish Code Coverage Reports'
      inputs:
        codeCoverageTool: 'Cobertura'
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
        reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

    - script: |
        pylint src --output-format=text >> pylint_report.txt
        cat pylint_report.txt
      displayName: 'Run Code Analysis Report'

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: $(System.DefaultWorkingDirectory)/pylint_report.txt
        artifactName: CodeAnalysisReport
      displayName: 'Publish Code Analysis Report'

    - script: |
        python -m compileall .
      displayName: 'Build Python App'

    - task: CopyFiles@2
      inputs:
        contents: '**'
        targetFolder: '$(build.artifactStagingDirectory)'


    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'
  

- stage: SecurityChecks
  displayName: 'Security Scanning'
  jobs:
  - job: SecurityChecks
    steps:
    - task: dependency-check-build-task@6
      displayName: 'Run OWASP Scan'
      inputs:
        projectName: '$(Build.Repository.Name)'
        scanPath: '$(System.DefaultWorkingDirectory)/requirements.txt'
        format: 'HTML'
        uploadReports: true
        uploadSARIFReport: true
        failOnCVSS: '7' 
        nvdApiKey: '86334487-A5D7-F011-8366-0EBF96DE670D'
        additionalArguments: >
          --disableCentral
          --disableOssIndex
          --disableNvd


- stage: DeployStaging
  displayName: 'Deploy and UAT Test in Staging'
  dependsOn: SecurityChecks
  jobs:
  - deployment: DeployToStaging
    displayName: 'Deploy to Staging Environment'
    environment: 'Staging'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - script: |
                sudo apt-get update
                sudo apt-get install -y google-chrome-stable
            displayName: 'Install Chrome for Selenium Tests'

          - script: |
              cd $(Pipeline.Workspace)/drop
              pip install -r requirements.txt
              gunicorn -w 1 -b 0.0.0.0:5000 app:app &
              sleep 5
            displayName: 'Start Web Server'

          - script: |
                  python -m pytest $(Pipeline.Workspace)/drop/tests/UAT_tests --junitxml=test-results/uat_results.xml
            displayName: 'Run Selenium Tests' 

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/uat_results.xml'
              failTaskOnFailedTests: true
            displayName: 'Publish UAT Results'