trigger:
- main
- development

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.13.3'
    addToPath: true


- script: |
    echo "Installing Dependencies"
    pip install -r requirements.txt
  displayName: 'Install Dependencies'

- script: |
    echo "Running Tests"
    pytest --cov --cov-fail-under=80
  displayName: 'Run Tests'

- script: |
    echo "Building the Python application"
    python -m compileall .
  displayName: 'Build Python App'

- task: CopyFiles@2
  inputs:
    contents: '**/*.py'
    targetFolder: '$(build.artifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'